@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  @apply font-poppins;
  /* Body par bilkul bhi overflow-x: hidden nahi hona chahiye */
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Saara extra side scroll yahan handle hoga, jisse position: sticky break nahi hoti */
  overflow-x: hidden; 
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}